body {
    background: linear-gradient(135deg,#ff9a9e,#fad0c4);
    text-align: center;
    font-family: Arial;
    height: 100vh;
    overflow: hidden;
}

.container {
    margin-top: 15%;
}

h1 {
    font-size: 50px;
    color: white;
}

h2, p {
    color: white;
}

button {
    padding: 15px 25px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    margin: 10px;
    cursor: pointer;
}

#yes {
    background: #ff4d6d;
    color: white;
}

#no {
    background: gray;
    color: white;
    position: absolute;
}

.card {
    background:white;
    padding:25px;
    border-radius:18px;
    margin:20px;
    color:black;
    box-shadow:0 0 25px rgba(0,0,0,0.2);
}
